html,
body {
  height: 100%;
}

#sidebar {
 
 float: right;
 margin-right : 200px;   
}

#todoDescription {

  height : 200px;
  width : 300px;
}

.editable {
 
 border : 0px;
 background-color : white;

}

input.editing {
 
 border : 1px solid black;
    
}